<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <div
        *ngIf="
          registerForm.get('name')?.invalid && registerForm.get('name')?.touched
        "
        class="text-danger"
      >
        Name is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
        class="text-danger"
      >
        Email is required and must be valid.
      </div>
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phoneNumber"
      />
      <div
        *ngIf="
          registerForm.get('phoneNumber')?.invalid &&
          registerForm.get('phoneNumber')?.touched
        "
        class="text-danger"
      >
        Phone is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
        class="text-danger"
      >
        Password is required.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
</div>
